<div class="login-card">
  <form [formGroup]="form" (ngSubmit)="loginWithEmail()">
    <input type="email" placeholder="Correo" formControlName="email" />
    <input type="password" placeholder="Contraseña" formControlName="password" />
    <button type="submit" [disabled]="form.invalid">Ingresar</button>
  </form>

  <hr />

  <button class="google-btn" (click)="loginWithGoogle()">
    <img src="assets/icons/google.svg" width="18" alt="Google" />
    Iniciar con Google
  </button>

  <p *ngIf="error" class="error">{{ error }}</p>
</div>
